<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <link rel = "stylesheet" type = "text/css" href = "css/style3.css">
  <title>Veggie-Off!</title>
 </head>
 <body>
   <form method = "POST" action = "/lastpage">
   <div>
   <h1> <%=@adjectives%> <%=@vegetables%>! </h1>
     <br> <br>
     Number of votes for <%=@player1%>: <input type = "text" name = "count1" > <br>
     Number of votes for <%=@player2%>: <input type = "text" name = "count2" >
   <br> <input type = "submit" value = "Submit!">
     <input type = "hidden"  name = "player1" value = <%=@player1%>>
     <input type = "hidden"  name = "player2" value = <%=@player2%>>
  </div>
   </form>
  </body>
</html>
